vet-scheduler-service/src/main/resources/bookings.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://vet.com/legacy-vet-system"
           elementFormDefault="qualified">

    <xs:element name="getBookSlotRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="date" type="xs:string"/>
                <xs:element name="doctor" type="xs:string"/>
                <xs:element name="owner" type="xs:string"/>
                <xs:element name="petName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getBookSlotResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="isAvailable" type="xs:boolean"/>
                <xs:element name="bookingId" type="xs:string"/>
                <xs:element name="confirmationMessage" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="cancelBookingRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bookingId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="cancelBookingResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>